@import "tailwindcss";

/* Inyectamos nuestros tokens de diseño directamente en el tema de Tailwind v4
*/
@theme {
  /* Tipografía */
  --font-sans: "Inter", sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  /* Tamaños de Texto Customizados */
  --text-display-lg: 3rem;
  --text-display-lg--font-weight: 700;
  
  --text-heading-xl: 1.875rem;
  --text-heading-xl--font-weight: 600;
  
  --text-heading-lg: 1.5rem;
  --text-heading-lg--font-weight: 600;
  
  --text-heading-md: 1.25rem;
  --text-heading-md--font-weight: 600;
  
  --text-heading-sm: 1.125rem;
  --text-heading-sm--font-weight: 600;
  
  --text-body-lg: 1rem;
  --text-body-lg--font-weight: 400;
  
  --text-body-md: 0.875rem;
  --text-body-md--font-weight: 400;
  
  --text-label-md: 0.75rem;
  --text-label-md--font-weight: 500;
  
  --text-code: 0.875rem;
  --text-code--font-weight: 400;

  /* Colores: Primary (Azul UMSS) */
  --color-primary-50: #E8F1FF;
  --color-primary-100: #D6E3FF;
  --color-primary-200: #A9C7FF;
  --color-primary-300: #7CA2E1;
  --color-primary-400: #375F9A;
  --color-primary-500: #1B4780;
  --color-primary-600: #003770;
  --color-primary-700: #002249;
  --color-primary-800: #001B3D;
  --color-primary-900: #001026;

  /* Colores: Secondary (Rojo UMSS) */
  --color-secondary-50: #FFECE8;
  --color-secondary-100: #FFDAD5;
  --color-secondary-200: #FFB4AA;
  --color-secondary-300: #FF897A;
  --color-secondary-400: #FF5449;
  --color-secondary-500: #E80F16;
  --color-secondary-600: #BC000C;
  --color-secondary-700: #930007;
  --color-secondary-800: #690003;
  --color-secondary-900: #410001;

  /* Colores: Grises */
  --color-gray-50: #F8F9FA;
  --color-gray-100: #F3F4F5;
  --color-gray-200: #EDEEEF;
  --color-gray-300: #E7E8E9;
  --color-gray-400: #E1E3E4;
  --color-gray-500: #C3C6D1;
  --color-gray-600: #9396A1;
  --color-gray-700: #737781;
  --color-gray-800: #434750;
  --color-gray-900: #191C1D;

  /* Colores: Semánticos y Base */
  --color-body: #FFFFFF;
  --color-success: #198754;
  --color-warning: #FFC107;
  --color-danger: #DC3545;
  --color-info: #0D6EFD;
}

/* Base styles usando variables CSS estándar */
html, body, #root {
  height: 100%;
  background-color: var(--color-body);
}